[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"
aiogram = "*"
eyed3 = "*"
yt-dlp = "*"

[dev-packages]
types-requests = "*"

[requires]
python_version = "3.10"
